:root {
  font-size: 16px;
  line-height: 1;
  font-family: sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

h1 {
  margin-bottom: 1.5rem;
}

.morse-tree {
  display: grid;
  width: 24rem;
  height: 24rem;

  grid-template-columns: repeat(3, 4fr) 2fr repeat(4, 3fr);
  grid-template-rows: repeat(7, 1fr);

  grid-template-areas:
    "o m t root e i s h"
    "q g n .    a u v ."
    ". z n .    a f . ."
    "y k n .    a r l ."
    ". c d .    w . . ."
    ". x d .    w p . ."
    ". . b .    j . . .";
}

.morse-element {
  --bulb-short: 1rem;
  --bulb-long: 2rem;
  --bulb-dit-radius: 30%;
  --bulb-dah-radius: 20%;
  --lead-width: 0.25rem;
  --lead-off-color: darkgrey;

  display: grid;

  &.root {
    align-items: end;
    justify-content: center;

    .bulb {
      background-color: var(--lead-off-color);
    }
  }

  /* Specialized adjustment for the root node */
  &#morse-element-e .lead {
    width: calc(100% + 0.5rem);
    transform: translateX(-0.5rem);
  }

  &.right {
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;

    grid-template-areas:
      ".    label"
      "lead bulb";

    .label {
      align-self: end;
      justify-self: center;
    }

    .lead {
      width: 100%;
      height: var(--lead-width);
      align-self: center;
    }
  }

  &.left {
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;

    grid-template-areas:
      "label .   "
      "bulb  lead";

    .label {
      align-self: end;
      justify-self: center;
    }

    .lead {
      width: calc(100% + 0.5rem);
      transform: translateX(0);
      height: var(--lead-width);
      align-self: center;
    }
  }

  &.left.down {
    grid-template-columns: var(--bulb-long) 1fr;
    grid-template-rows: 1fr auto;

    grid-template-areas:
      "lead  .    "
      "bulb  label";

    .bulb {
      align-self: end;
      justify-self: center;
    }

    .label {
      align-self: end;
      justify-self: start;
      margin-left: -0.25rem;
    }

    .lead {
      width: var(--lead-width);
      height: 100%;
      justify-self: center;
    }
  }

  &.right.down {
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;

    grid-template-areas:
      ".     lead"
      "label bulb";

    .bulb {
      align-self: end;
      justify-self: center;
    }

    .label {
      align-self: end;
      justify-self: end;
      margin-right: 0.25rem;
    }

    .lead {
      width: var(--lead-width);
      height: 100%;
      justify-self: center;
    }
  }

  .label {
    grid-area: label;
  }

  .lead {
    grid-area: lead;
    background-color: var(--lead-off-color);
  }

  .bulb {
    grid-area: bulb;
    background-color: var(--lead-off-color);

    &.dit {
      width: var(--bulb-short);
      height: var(--bulb-short);
      border-radius: var(--bulb-dit-radius);
    }

    &.dah {
      border-radius: var(--bulb-dah-radius);

      &.horizontal {
        width: var(--bulb-long);
        height: var(--bulb-short);
      }

      &.vertical {
        width: var(--bulb-short);
        height: var(--bulb-long);
      }
    }
  }
}

#morse-element-root { grid-area: root; }
#morse-element-a { grid-area: a; }
#morse-element-b { grid-area: b; }
#morse-element-c { grid-area: c; }
#morse-element-d { grid-area: d; }
#morse-element-e { grid-area: e; }
#morse-element-f { grid-area: f; }
#morse-element-g { grid-area: g; }
#morse-element-h { grid-area: h; }
#morse-element-i { grid-area: i; }
#morse-element-j { grid-area: j; }
#morse-element-k { grid-area: k; }
#morse-element-l { grid-area: l; }
#morse-element-m { grid-area: m; }
#morse-element-n { grid-area: n; }
#morse-element-o { grid-area: o; }
#morse-element-p { grid-area: p; }
#morse-element-q { grid-area: q; }
#morse-element-r { grid-area: r; }
#morse-element-s { grid-area: s; }
#morse-element-t { grid-area: t; }
#morse-element-u { grid-area: u; }
#morse-element-v { grid-area: v; }
#morse-element-w { grid-area: w; }
#morse-element-x { grid-area: x; }
#morse-element-y { grid-area: y; }
#morse-element-z { grid-area: z; }

